.navbar-brand {
    font-family: 'Georgia', Times, Times New Roman, serif;
    background-color:#4aaaa5;
    /* width: 270px;  */
    display: inline;
    float: left;
    position: relative;
    align-items: center;
    margin-left: 10%;
    margin-right: 40%;
    padding: 20px 25px 20px 25px;
    font-size: 1.5em;
    color: white;
    font-weight: strong;
}

.nav-link {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    margin: 10px;
    color: #777777;
}

.nav-link:link,
.nav-link:visited {
    text-decoration: none;
}

.nav-link:hover, 
.nav-link:active {
    text-decoration: underline;
}

.bg-light {
    background-color: #ffffff!important;
}

.mainbackground {
    background-image: url("../images/cork-wallet.png");
}

.maincontent {
    /* background-image: none; */
    /* background-color: white; */
}

footer {
    background-color: #666666;
    color: white;
    font-size: x-small;
}