.navbar-brand {
    font-family: 'Georgia', Times, Times New Roman, serif;
    background-color:#4aaaa5;
    color: white;
}

.nav-link {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
}

.nav-link:link,
.nav-link:visited {
    text-decoration: none;
}

.nav-link:hover, 
.nav-link:active {
    text-decoration: underline;
}

.bg-light {
    background-color: #ffffff!important;
}

.mainbackground {
    background-image: url("../images/cork-wallet.png");
}

.maincontent {
    /* background-image: none; */
    /* background-color: white; */
}

footer {
    background-color: #666666;
    color: white;
    font-size: x-small;
    
}